@import "tailwindcss";

@layer theme {
  :root {
    --color-primary: #3283D5;
    --color-secondary: #1A1A1A;
    --color-danger: #E55D59;
  }
}

@layer base {
  body {
    @apply bg-gray-50 text-gray-900;
  }
}